  <div class="row">
    <% if user_signed_in? %>
      <h4 class="turquesa">Enter your answer</h4>
      <button id="create-answer" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Create Answer
      </button>
      <div class="collapse" id="collapseExample">
        <div class="well">
          <%= form_for [@question, @question.answers.new] do |f| %>
            <div>
              <%= md_simple_editor  do %>
                <%= f.text_area(:description, cols: 60, rows: 3)  %>
              <% end %>
            </div> 
            <div><%= f.submit "Send Answer", class: "btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>