<% if typeEntry %>
  <% if typeEntry.errors.any? %>    
    <div id="error_explanation">
      <h2>
        <%= pluralize(typeEntry.errors.count, "error") %> 
        prohibited this entry from being saved:
      </h2>
      <ul>
        <% typeEntry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>