// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.flow {
  color: #5CA4A9;
}

.over {
  color: #F4F1BB;
}

.stack {
  color: #ED6A5A;
}

.votes {
  color: #5CA4A9;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  max-width: 60px;
  text-align: center;
}

.name{
  font-size: 16px;
  margin-left: 15px;
}

.name .title {
  color: #ED6A5A;
}
p{
  margin: 0;
}

.mytable {
  max-width: 70%;
  margin: 0px auto;
  float: none;
}

td {
    border-top: 1px solid lightgray; 
  }

.text-field {
  margin-top: 15px;
  margin-bottom: 30px;
}

.search-form{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between
}

footer .navbar{
  margin: 0;
  border-radius: 0,
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

h3 {
  padding: 0;
  margin: 0;
}

html, body {
  height: 90%;
}

.footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 80px;
  clear:both;
  padding-top:20px;
} 

li {
  list-style: none;
}


.turquesa {
  color: #5CA4A9;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus,
.big-button,
.big-button:hover,
.big-button:active,
.big-button:visited, 
.big-button:focus,
.big-button:active:focus {
  color: white;
  border: none;
  background-color: #5CA4A9;
}


.link.btn-primary, .link.btn-primary:hover, .link.btn-primary:active, .link.btn-primary:visited, .link.btn-primary:focus, .link.btn-primary:active:focus {
 background-color: $gray-darker; 
 color: #ED6A5A;
 /*background-color: #D2D6CC;*/
 text-decoration: underline;
 padding: 3px;
 font-size: 12px;
border: none;
}

#error_explanation{
  color: #ED6A5A;
  margin-bottom:  20px; 
}

#error_explanation h2 {
  color: #5CA4A9;
  font-size: 17px;
}

#error_explanation li {
  list-style: initial;
}

.icon {
  background-color: transparent;
  border: none;
  color: #ED6A5A;

  }

  .icon-t {
  background-color: transparent;
  border: none;
  color: #5CA4A9;

  }

.action{
  display: inline-flex;
}

.alinear-icons {
  display: inline-flex;
}

.answer-icons{
 display: block;
}

ul {
  margin-left: 0;
  padding-left: 0;
}